<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello vvorld</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <div id="nav-login">
                <a href="/signin"><button id="login">Sign In</button></a>
              <a href="/signup"><button id="signup">Sign Up</button></a>
            </div>
        </nav>
    </header>
    <div id="body-content">
      <p>{Landing page content}</p>
    </div>
</body>
</html>
